body {
    background-color: gold;
}

img {
    box-sizing: border-box;
    margin: 150px;
    padding: 0px;
}

h2 {
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
}

p {
    box-sizing: border-box;
    text-align: center;
    padding: 0px;
}

.status {
    display: flex;
    flex-direction: column;
    align-items: center;
}